.vwo-collapse {
  --vwo-collapse-border-color: var(--vwo-border-color-light);
  --vwo-collapse-header-height: 48px;
  --vwo-collapse-header-bg-color: var(--vwo-fill-color-blank);
  --vwo-collapse-header-text-color: var(--vwo-text-color-primary);
  --vwo-collapse-header-font-size: 13px;
  --vwo-collapse-content-bg-color: var(--vwo-fill-color-blank);
  --vwo-collapse-content-font-size: 13px;
  --vwo-collapse-content-text-color: var(--vwo-text-color-primary);
  --vwo-collapse-disabled-text-color: var(--vwo-disabled-text-color);
  --vwo-collapse-disabled-border-color: var(--vwo-border-color-lighter);
  --vwo-transition-duration: 0.3s;
  border-top: 1px solid var(--vwo-collapse-border-color);
}

.vwo-collapse-item {
  border-bottom: 1px solid var(--vwo-collapse-border-color);
}

.vwo-collapse-item__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--vwo-collapse-header-height);
  line-height: var(--vwo-collapse-header-height);
  background-color: var(--vwo-collapse-header-bg-color);
  color: var(--vwo-collapse-header-text-color);
  cursor: pointer;
  font-size: var(--vwo-collapse-header-font-size);
  font-weight: 500;
  transition: border-bottom-color var(--vwo-transition-duration);
  outline: none;
}
